

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.container {
    max-width: 1200px;
    padding: 10px 10px ;
    margin: auto;
}




/*Cards*/

.cards {
    background-color: beige;
}
.cards-title {
    text-align: center;
}
.card {
    margin: 20px 30px;
    justify-content: space-between;
    
}
.card-body {
    text-align: center;
    background-color: silver;
    

}
.card-title {
    font-weight: bold;
    font-style: italic;
}

.footer {
    background-color: silver;
}


/*Form*/

.contact {
    background-color: lightblue;
    padding: 96px;
    flex-wrap: wrap;
    text-align: center;
}

.row-contact {
    display:flex;

}
.contact-1 {
    background-color: lightblue;
    border: none;
    border-bottom: 2px ;
}


/*Footer*/

.foot {
    background-color: silver;
}
.row {
    display: flex;
}

.row ul li {
    display: inline;
    margin-inline-start: 30px;
    
}
